accountservice/accounts.db*
accountservice/accountservice-linux-amd64
accountservice/healthchecker-linux-amd64
support/config-server/server.jks
support/config-server/build
support/config-server/.gradle
